DISPLAY_SPI_BUS=0
DISPLAY_SPI_DEVICE=0
DISPLAY_DEFAULT_SPEED_MS=40
DISPLAY_DEFAULT_BRIGHTNESS=5
DISPLAY_DEFAULT_ROTATE=false
DISPLAY_DEFAULT_DIRECTION=rtl
DISPLAY_OVERLAY_DURATION_MS=60000

TM1638_STB_PIN=29
TM1638_CLK_PIN=31
TM1638_DIO_PIN=33
TM1638_BRIGHTNESS=3
TOTP_SHOW_DURATION_MS=15000
ERROR_SHOW_DURATION_MS=3000
POLL_INTERVAL_MS=60
